body{
    border-style: outset;
    border-width: 5px;
    border-color: purple;
    border-radius: 10px;
    padding: 10px;
    
}
h1 {
    text-align: center;
    color: purple;
    font-style: italic;
    font-weight: 700;
}
* {
    background-color: rgb(167, 235, 135);
    background-position: center;
    
}
img{
    float: left;
    margin: 1.5%;
    width: 450px;
    margin-left: auto;
    position: relative;
    padding-right: 0px;
    padding-top: 0px;
    

}
.head{
    color: blue;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
   /* border-bottom-style: dotted;*/

}footer {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    display: inline;
    margin-bottom: 0%;
    bottom: 0;
    color: rgb(0, 0, 0);
    
     
}


a{
    color: red;
}

a:visited {
    color: purple;
}

a:hover {
    color:grey;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
}
a:active {
    color: lightblue;
}
#contacts {
    color: rgb(255, 60, 0);
    font-weight: 500;
    font-display: block;

}
